 
  * {
    font-family: 'Sawarabi Mincho', sans-serif;
    padding: 0; 
    margin: 0; 
  }

  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /*Tennis Pong*/ 
#pong{
    width: 100%;
    height: 100%;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: -1;
}

/*section 1*/ 
.s1{
    width : 100%;
    height: 100vh;
}

.brand{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20em;
}

.brand h1{
    color: #D7A30F;
    font-size: 6em;
    letter-spacing: 0.15em;
}

.brand p1{ 
    letter-spacing: 0.7em;
}



/*section 2*/ 

.s2{
    width : 100%;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    box-sizing: inherit;
  }

.text2{
    grid-column: 1 / span 6;
    text-align: right;
    justify-content: center;
    align-self: center;
}

.text2 p{
    font-size: 17px;
    letter-spacing: 0.3rem;
}

.text2 h1{
    font-size: 70px;
    color: #D7A30F;
    font-weight: 10px;
    letter-spacing: 0.3rem;
}

.slideshow-container{
    grid-column: 7 / span 6;
    background: no-repeat center center;
    background-size: cover;
}

.slide{
    width: 100%;
    height:100%; 
    min-height: 500px;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
    animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

  /*section 3*/ 
.s3{
    width : 100%;
    height: 150vh;
}


.slide3{
    width: 70%;
    height: 70%; 
    margin-left: 15%; 
    margin-top: -25%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.text3{
    margin-top: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform:translate(13%, 0%);
    z-index: -1;
}

/* Text animation comfort*/
#comfort path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim 3s ease forwards;
}

#comfort path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 1154;
    stroke-dashoffset: 1154;
    animation: line-anim 3s ease forwards 0.2s; 
}

#comfort path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 1997;
    stroke-dashoffset: 1997;
    animation: line-anim 3s ease forwards 0.4s; 
}

#comfort path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1178;
    stroke-dashoffset: 1178;
    animation: line-anim 3s ease forwards 0.6s; 
}

#comfort path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 1154;
    stroke-dashoffset: 1154;
    animation: line-anim 3s ease forwards 0.8s; 
}

#comfort path:nth-child(6){
    stroke-width: 1.7px;
    stroke-dasharray: 1354;
    stroke-dashoffset: 1354;
    animation: line-anim 3s ease forwards 1.2s; 
}

#comfort path:nth-child(7){
    stroke-width: 1.7px;
    stroke-dasharray: 1102;
    stroke-dashoffset: 1102;
    animation: line-anim 3s ease forwards 1.4s; 
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    to{
        fill: #0000;
    }
}

.text302{
    margin-top: -17%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform:translate(-13%, 0%);
    z-index: -1;
}

/* Text animation style*/
#style path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim 3s ease forwards;
    animation-iteration-count: infinite;
}

#style path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 1154;
    stroke-dashoffset: 1154;
    animation: line-anim 3s ease forwards 0.2s; 
}

#style path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 1997;
    stroke-dashoffset: 1997;
    animation: line-anim 3s ease forwards 0.4s; 
}

#style path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1178;
    stroke-dashoffset: 1178;
    animation: line-anim 3s ease forwards 0.6s; 
}

#style path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 1178;
    stroke-dashoffset: 1178;
    animation: line-anim 3s ease forwards 0.6s; 
}


/*section 4*/ 
.grid2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding-left: 60px;
    padding-right: 60px;
  }

.s4{
    width : 100%;
    height: 100vh;
}

.straps{
    grid-column: 1/ span 6;
}

.slide4{
    width: 130%;
}

.text4 {
    padding-top: 30%;
    grid-column: 8/ span 4;
    align-self: center;
}

.text4 h4{
    font-size: 50px;
    letter-spacing: 0.1em;
    color: #D7A30F;
}

.text4 p{
    font-size: 15px;
    letter-spacing: 0.1em;
}

#path4{
    width: 37%;
    transform:translate(38%, -165%);
}


/* Text animation style*/
#path4 path:nth-child(1){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

#path4 path:nth-child(2){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

#path4 path:nth-child(3){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

#path4 path:nth-child(4){
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
    animation-iteration-count: infinite;
}

@keyframes line-anim4{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    to{
        fill: #0000;
    }
}

/*section 5*/
.s5{
    width : 100%;
    height: 100vh;
    justify-content: center;
    max-width: 1400px;
    align-items: center;
}

.features{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
}

.icons{
    justify-content: baseline;
    align-items: center;
    text-align: center;
}

.icon5{
    padding-bottom: 10%;
}

/*section 6*/
.s6{
    width : 100%;
    height: 100vh;
}

.brand6{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -6%;
}

.slip6{
    width: 100%; 
    min-height: 500px;
    grid-column: 2/ span 10;
    background: no-repeat center center;
    background-size: cover;
}

.text6{
    text-align: center;
    align-items: center;
    justify-content: center;
    transform:translate(-13%, 55%);
    z-index: -1;
}


.text601{
    margin-top: -17%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform:translate(17%, 3%);
    z-index: -1;
    width: 100%;
}

/* Text animation style*/
#tennisclub path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 1102;
    stroke-dashoffset: 1102;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 1392;
    stroke-dashoffset: 1392;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 1544;
    stroke-dashoffset: 1544;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1544;
    stroke-dashoffset: 1544;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 710;
    stroke-dashoffset: 710;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(6){
    stroke-width: 1.7px;
    stroke-dasharray: 1012;
    stroke-dashoffset: 1012;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(7){
    stroke-width: 1.7px;
    stroke-dasharray: 1043;
    stroke-dashoffset: 1043;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(8){
    stroke-width: 1.7px;
    stroke-dasharray: 917;
    stroke-dashoffset: 917;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(9){
    stroke-width: 1.7px;
    stroke-dasharray: 1275;
    stroke-dashoffset: 1275;
    animation: line-anim4 2.5s ease forwards;
}

#tennisclub path:nth-child(10){
    stroke-width: 1.7px;
    stroke-dasharray: 1363;
    stroke-dashoffset: 1363;
    animation: line-anim4 2.5s ease forwards;
}

/* Text animation style inspired*/

#inspired path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 710;
    stroke-dashoffset: 710;
    animation: line-anim4 2.5s ease forwards;
}

#inspired path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 1544;
    stroke-dashoffset: 1544;
    animation: line-anim4 2.5s ease forwards;
}

#inspired path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 1012;
    stroke-dashoffset: 1012;
    animation: line-anim4 2.5s ease forwards;
}

#inspired path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1120;
    stroke-dashoffset: 1120;
    animation: line-anim4 2.5s ease forwards;
}

#inspired path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 710;
    stroke-dashoffset: 710;
    animation: line-anim4 2.5s ease forwards;
}

#inspired path:nth-child(6){
    stroke-width: 1.7px;
    stroke-dasharray: 1354;
    stroke-dashoffset: 1354;
    animation: line-anim4 2.5s ease forwards;
}

#inspired path:nth-child(7){
    stroke-width: 1.7px;
    stroke-dasharray: 1392;
    stroke-dashoffset: 1392;
    animation: line-anim4 2.5s ease forwards;
}

#inspired path:nth-child(8){
    stroke-width: 1.7px;
    stroke-dasharray: 1304;
    stroke-dashoffset: 1304;
    animation: line-anim4 2.5s ease forwards;
}


@keyframes line-anim4{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    to{
        fill: #0000;
    }
}


/*section 7*/ 
.s7{
    width : 100%;
    height: 100vh;
}

.straps7{
    grid-column: 1/ span 9;
}

.slide7{
    width: 110%;
    transform:translate(-10%, 0%);
}

.grid7 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    box-sizing: inherit;
  }

  .text701{
    text-align: left;
    transform:translate(10%, 70%);
  }

  .text703{
    text-align: left;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform:translate(8%, -125%);
  }

  /* Text animation style modern*/

#modern path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 1997;
    stroke-dashoffset: 1997;
    animation: line-anim4 2.5s ease forwards;
}

#modern path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 1154;
    stroke-dashoffset: 1154;
    animation: line-anim4 2.5s ease forwards;
}

#modern path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 1304;
    stroke-dashoffset: 1304;
    animation: line-anim4 2.5s ease forwards;
}

#modern path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1354;
    stroke-dashoffset: 1354;
    animation: line-anim4 2.5s ease forwards;
}

#modern path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 1392;
    stroke-dashoffset: 1392;
    animation: line-anim4 2.5s ease forwards;
}

#modern path:nth-child(6){
    stroke-width: 1.7px;
    stroke-dasharray: 1544;
    stroke-dashoffset: 1544;
    animation: line-anim4 2.5s ease forwards;
}



 /* Text animation style slides*/

#slides path:nth-child(1){
    stroke-width: 1.7px;
    stroke-dasharray: 1012;
    stroke-dashoffset: 1012;
    animation: line-anim4 2.5s ease forwards;
}

#slides path:nth-child(2){
    stroke-width: 1.7px;
    stroke-dasharray: 917;
    stroke-dashoffset: 917;
    animation: line-anim4 2.5s ease forwards;
}

#slides path:nth-child(3){
    stroke-width: 1.7px;
    stroke-dasharray: 710;
    stroke-dashoffset: 710;
    animation: line-anim4 2.5s ease forwards;
}

#slides path:nth-child(4){
    stroke-width: 1.7px;
    stroke-dasharray: 1304;
    stroke-dashoffset: 1304;
    animation: line-anim4 2.5s ease forwards;
}

#slides path:nth-child(5){
    stroke-width: 1.7px;
    stroke-dasharray: 1392;
    stroke-dashoffset: 1392;
    animation: line-anim4 2.5s ease forwards;
}

#slides path:nth-child(6){
    stroke-width: 1.7px;
    stroke-dasharray: 1012;
    stroke-dashoffset: 1012;
    animation: line-anim4 2.5s ease forwards;
}

@keyframes line-anim4{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    to{
        fill: #0000;
    }
}

.btn-wrapper{
    display: flex;
  align-items: right;
  justify-content: flex-end;
  margin-right: 20%;
  transform: translate(3%,590%);
}

.btn{
    border: 1px solid #A04F4F;
    background: none;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }

  .btn1{
    color: #A04F4F;
  }

  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #A04F4F;
    z-index: -1;
    transition: 0.8s;
  }

  .btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }

  .btn1:hover::before{
    height: 180%;
  }

  .btn1:hover{
    color: #fff;
  }

    /*section1*/
.anim0 {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s all ease-in-out;
}

.js-anim0{
    opacity: 1;
    transform: translateY(0px);
}


  /*section2*/
.anim {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s all ease-in-out;
}

.js-anim{
    opacity: 1;
    transform: translateY(0px);
}


/*section3*/
.anim101{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.js-anim101{
    opacity: 1;
    transform: translateY(0px);
}

.anim102{
    opacity: 0;
    transform:translate(16%, 0%);
    transition: 1s all ease-in-out;
}

.js-anim102{
    opacity: 1;
    transform:translate(13%, 0%);
}

.anim103{
    opacity: 0;
    transform: translate(-16%,0%);
    transition: 1s all ease-in-out;
}

.js-anim103{
    opacity: 1;
    transform: translate(-13%,0%);
}


 /*section4*/
.anim2{
    opacity: 0;
    transform: translateY(20px);
    transition: 1s all ease-in-out;
}

.js-anim2{
    opacity: 1;
    transform: translateY(0px);
}

 /*section5*/
 .anim3{
    opacity: 0;
    transform: translateY(70px);
    transition: 1s all ease-in-out;
}

.js-anim3{
    opacity: 1;
    transform: translateY(0px);
}

.anim301{
    opacity: 0;
    transform: translateY(70px);
    transition: 1.3s all ease-in-out;
}

.js-anim301{
    opacity: 1;
    transform: translateY(0px);
}

.anim302{
    opacity: 0;
    transform: translateY(70px);
    transition: 1.6s all ease-in-out;
}

.js-anim302{
    opacity: 1;
    transform: translateY(0px);
}

 /*section6*/
 .anim4{
    opacity: 0;
    transform: translateY(30px);
    transition: 1s all ease-in-out;
}

.js-anim4{
    opacity: 1;
    transform: translateY(0px);
}

.anim401{
    opacity: 0;
    transform:translate(-20%, 55%);
    transition: 1s all ease-in-out;
}

.js-anim401{
    opacity: 1;
    transform:translate(-13%, 55%);
}

.anim402{
    opacity: 0;
    transform:translate(25%, 3%);
    transition: 1s all ease-in-out;
}

.js-anim402{
    opacity: 1;
    transform:translate(17%, 3%);
}


/*section7*/
.anim5{
    opacity: 0;
    transform: translate(0%, 70%);
    transition: 1s all ease-in-out;
}

.js-anim5{
    opacity: 1;
    transform: translate(5%, 70%);
}

.anim501{
    opacity: 0;
    transform:translate(0%, 0%);
    transition: 1s all ease-in-out;
}

.js-anim501{
    opacity: 1;
    transform:translate(-10%, 0%);
}

.anim502{
    transform: translate(3%,570%);
    transition: 2s all ease-in-out;
}

.js-anim502{
    opacity: 1;
    transform: translate(3%,590%);
}


  @media screen and (max-width: 900px){
     /*section 1*/ 

        .brand{
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-top: 18em;
        }

        .brand h1{
            color: #D7A30F;
            font-size: 5em;
            letter-spacing: 0.15em;
        }

        .brand p1{ 
            font-size: 0.3em;
            letter-spacing: 0.7em;
        }

        /*section 2*/ 

        .grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
            width: 100%;
            max-width: 1400px;
            padding-left: 60px;
            padding-right: 60px;
            overflow: hidden;
            box-sizing: inherit;
        }
        
        .text2{
            text-align: center;
            justify-content: center;
            align-self: center;
        }

        .text2 p{
            font-size: 10px;
            letter-spacing: 0.15rem;
        }

        .text2 h1{
            font-size: 35px;
            color: #D7A30F;
            font-weight: 10px;
            letter-spacing: 0.3rem;
        }

        .slideshow-container{
            grid-column: 1 / span 6;
            background: no-repeat center center;
            background-size: cover;
        }

        .slide{
            width: 100%;
            height: 90%; 
            min-height: 500px;
        }

          /*section 3*/ 


        .slide3{
            width: 100%;
            height: 100%; 
            margin-left: 5%; 
            margin-top: -45%;
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        .text3{
            margin-top: 20%;
            text-align: center;
            align-items: center;
            justify-content: center;
            transform:translate(13%, 0%);
            z-index: -1;
        }

        #comfort{
            width: 25%;
        }

        .text302{
            margin-top: -32%;
        }

        #style{
            width: 18%;
        }
        /*section 4*/ 
        .grid2 {
            margin-top: 0%;
            display: grid;
            grid-template-columns: repeat(0, 1fr);
            grid-gap: 20px;
            width: 100%;
            max-width: 1400px;
            padding-left: 60px;
            padding-right: 60px;
            overflow: hidden;
            box-sizing: inherit;
        }

        .straps{
            grid-column: 1/ span 5;
            transform:translate(-34%, 0%);
        }

        .slide4{
            width: 350%;
            background: no-repeat center center;
            background-size: cover;
        }

        .text4 {
            grid-column: 3/ span 3;
            text-align: center;
            justify-content: center;
            align-self: center;
            justify-self: center;
            transform:translate(31%, 0%);
        }

        .text4 h4{
            margin-top: -30%;
            font-size: 50px;
            letter-spacing: 0.1em;
            color: #D7A30F;
            text-align: center;
        }

        .text4 p{
            font-size: 10px;
            letter-spacing: 0.1em;
            text-align: center;
        }

        #path4{
            width: 67%;
            transform:translate(30%, -160%);
        }

        /*section 5*/

        .features{
            margin-top: 20%;
            display: flex;
            flex-direction: column;
        }

        .icons{
            max-width: 55%;   
            top: 0;  
            bottom: 0;  
            left: 0;  
            right: 0;  
            margin: auto;
            vertical-align: middle;
        }

        .icon5{
            vertical-align: middle;
            padding-bottom: 10%;
        }

        /*section 6*/


        .brand6{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
            width: 100%;
        }

        .slip6{
            margin-top: 30%;
            width: 200%;
            grid-column: 1/ span 5;
            background: no-repeat center center;
            background-size: cover;
            transform: translate(-20%, 0);
        }

        .text6{
            width: 35%;
            text-align: center;
            align-items: center;
            justify-content: center;
            transform:translate(-13%, 55%);
            z-index: -1;
        }


        .text601{
            display: none;
        }

        #tennisclub{
            margin-top: 80%;
            margin-left: 40%;
            width: 180%;
        }

        #inspired{
            width: 30%;
            height: 10%;
        }

        /*section 7*/ 
        .straps7{
            grid-column: 1/ span 9;
        }

        .slide7{
            width: 150%;
            transform:translate(-20%, 0%);
        }

        .grid7 {
            margin-top: -40%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
            width: 100%;
            max-width: 1400px;
            padding-left: 60px;
            padding-right: 60px;
            overflow: hidden;
            box-sizing: inherit;
        }

        .text701{
            text-align: left;
            transform:translate(0%, 70%);
        }

        .text703{
            text-align: left;
            text-align: center;
            align-items: center;
            justify-content: center;
            transform:translate(10%, -75%);
        }

        #modern{
            width: 30%; 
            height: 30%;
        }

        #slides{
            width: 60%; 
        }

        .btn-wrapper{
          margin-right: 30%;
          transform: translate(3%,590%);
        }
    }

